
.messages
  .messages__name
    %table
      %tr
        %th.name
          = message.user.name
        %th.days
          = format_posted_time(message.created_at)
  .messages__message
    - if message.content.prisent?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
