.messages
  .messages__name
    %table
      %tr
        %th.name
          川上
        %th.days
          2018/07/26
  .messages__message
    コメント

.messages
  .messages__name
    %table
      %tr
        %th.name
          川上
        %th.days
          2018/07/26
  .messages__message
    コメント
