#header
  #header__name
    %p
      =current_user.name
    %ul.edit_icons
      %li.pencil
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.cog
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'

  #header__menu
    %h1
      sample
    %h2
      Members: kawakami, taguchi
    .editbox
      %p
        Edit
