
=render 'menu'
.contents
  .side-bar
    -current_user.groups.each do |group|
      =render partial: 'group_boxes', locals: { group: group}

  .footer
    .boxes
      .text-box
        %p
          type a message
      .send-box
        %p
          Send
      %i.fa.fa-image

